#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Youtube DLP Script
Exec="~/yor-ytdlp/yor-ytdlp.sh"
Icon=video-player
Terminal=true
Categories=Utility;
Name[en_US]=yor-ytdlp
